.loading-wrapper {
  margin: 0 auto;
  height: 100vh;
  background-color: #4481c3;
}

.loader-center {
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0; }

.loader { height: 35px;
  width: 35px;
  float: left; }

.loader-container {
  height: 35px;
  width: 205px; }

.loader__text {
  font-size: 35px;
  font-style: oblique;
  color: #DDD;
  padding-left: 16px;
  text-shadow: 0px 0px 4px #9CF;
  animation: loadingText .4s ease-in-out infinite alternate;
}

.loader__2 {
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-radius: 50%;
  height: 14px;
  width: 15px;
  margin: 10px;
  position: absolute;
  animation: loading 1.2s infinite linear; }

.loader__3 {
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-radius: 50%;
  height: 24px;
  width: 25px;
  margin: 8px 2px;
  position: absolute;
  animation: loading 1s infinite linear; }

.loader__4 {
  border-top: 3px solid #bbb;
  border-bottom: 3px solid #bbb;
  border-radius: 50%;
  height: 34px;
  width: 35px;
  position: absolute;
  animation: loading .8s infinite linear; }

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); } }

@keyframes loadingText {
  to {text-shadow:
    0 0 2px #9CF,
    0 0 3px #9CF,
    0 0 4px #69C,
    0 0 5px #69C; } }
